main > form > div {
    display: flex;
    flex-flow: column nowrap;
}

main > form > div > div {
    margin-top: 0.5em;
}

main > form > div > button {
    margin-top: 1em;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

input[type=button] {
    grid-column: span 2;
    width: 50%;
    justify-self: center;
}