#collectionPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
#collectionPage > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0.5em;
    color: #ddd;
    background-color: #0072ed;
}
select#collection {
    min-width: 100px;
    text-align: center;
}
#collectionPage label {
    padding-right: 1em;
}