#collectionPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#collectionPage > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0.5em;
  color: #ddd;
  background-color: #0072ed;
}
select#collection {
  min-width: 100px;
  text-align: center;
}
#collectionPage label {
  padding-right: 1em;
}

#createCollection {
  padding-left: 0.5em;
}

input.addTo {
  position: absolute;
  scale: 2;
  opacity: 0;
}

label.addTo {
  color: #aab8c2;
  cursor: pointer;
  font-size: 1em;
  align-self: center;  
  transition: color 0.2s ease-in-out;
}

label.addTo::selection {
  color: none;
  background: transparent;
}

label.addTo::moz-selection {
  color: none;
  background: transparent;
}

input.addTo:active + label 
{
  color: black;
}

.dropdown-content {
  display: none;
  flex-flow: column nowrap;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content > * {
  padding: 0.2em;
  margin: 0;
}

.dropdown-content > *:hover {
  color: #0072ed;
  cursor: pointer;
}

.addTo:hover .dropdown-content {
  display: flex;
}
.remove {
  width: 1em;
  padding: 0;
}

.remove:hover {
  color: #0072ed;
}

 /* The Modal (background) */
 .modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.modal-content > div > * {
  margin: 0.5em;
}

#modalBreak {
  width: 100%;
  height: 0;
  margin: 0;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 