body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
li {

} 
header {
  background: rgb(15,30,66);
  background: linear-gradient(90deg, #007BFF 0%, #056cdb 100%);
}
main {
    flex: 1 1 auto;
    background: #f5f5f5;
    color: black;
}
div#pageButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
div#pageButtons > input {
  margin: 0.5em;
}


div#tabs {
  background: #0072ed;
  color: rgb(221, 221, 221);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
div#tabs > ul {
    display: flex;
    flex-direction: row;
}
div#tabs li {
    padding: 0.5em;
    cursor: pointer;
}
div#tabs li.active {
  background-color: #045ebf;
}
div#tabs li:hover {
    background-color: #3697ff;
}


div#tabs > small {
  flex-basis: 100%;
  padding: .25em .5em;
}


div#searchBar {
  display: flex;
  flex-flow: row nowrap;
  padding: .35em .5em;
}

div#searchBar > input {
  border: none;
}

div#searchBar > button {
  border: none;
  cursor: pointer;
  background-color: rgb(199, 199, 199);
}

h2, h3 {
  margin: 0;
}

table{
  width: 99.5%;
}

table tr {
border: .5px solid #eee;
}

table th {
  padding: 1em;
}

table  td {
  padding: 0.5em;
}

table  td.fav {
padding: 0;
}

table, table td, table th {

  border-collapse: collapse;
  text-align: center;
}
table tr:hover {
  background-color: rgba(155, 155, 155, 0.1);
}

tr:nth-child(odd) {
  background-color: rgba(0, 204, 255, 0.05);
}

#loadingTop, #loadingBot {
    transition: transform 0.5s ease-in-out;
    width:  100vw;
    height: 50vh;
    text-align: center;
    z-index: 10000;
    position: fixed;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  #loadingTop {
    background-color: #333333;
    top: 0;
    transform: translateX(100vw);
    align-items: flex-end;
  }
  
  #loadingTop h2 {
    margin: 0;
  }
  
  #loadingBot {
    background-color: #444444;
    bottom: 0;
    transform: translateX(-100vw);
    align-items: flex-start;
  }
  
  #loadingTop.load, #loadingBot.load {
    transform: translateX(0);
  }
  
  #loadingBot.unload {
    transform: translateX(100vw);
  }
  #loadingTop.unload {
    transform: translateX(-100vw);
  }
  
  #loadingTop h2 {
    position: relative;
    bottom: 0;
  }

  .reset {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  .hidden {
    display: none !important;
  }

   /* Dropdown Button */
.dropbtn {
  padding: 0;
  width: 100%;
  height: 100%;
  color: rgb(221, 221, 221);
  background-color: transparent;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {

}

div#tabs li#tabBreak {
  flex: 1 0 auto;
  cursor: default;
}

div#tabs li#tabBreak:hover {
  background-color: #0072ed;
}