body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {

}
header {
  background: rgb(15,30,66);
  background: linear-gradient(90deg, rgba(15,30,66,1) 0%, rgba(242,100,48,1) 100%);
}
main {
    flex: 1 1 auto;
    background: rgb(12, 18, 34);
    color: rgb(221, 221, 221);
}
div#tabs {
  background: rgb(25, 38, 73);
  color: rgb(221, 221, 221);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
div#tabs > ul {
    display: flex;
    flex-direction: row;
}
div#tabs li {
    padding: 0.5em;
    cursor: pointer;
}
div#tabs li.active {
  background-color: rgba(242, 100, 48, 0.50);
}
div#tabs li:hover {
    background-color: rgb(242,100,48);
}
div#tabs > small {
  flex-basis: 100%;
}

div#searchBar {
  display: flex;
  flex-flow: row nowrap;
}

div#searchBar > input {
  border: none;
}

div#searchBar > button {
  border: none;
  cursor: pointer;
  background-color: rgb(199, 199, 199);
}

h2, h3 {
  margin: 0;
}

table{
  width: 100%;
}

table tr {
border: 1px solid black;
}

table th {
  padding: 1em;
}

table  td {
  padding: 0.5em;
}

table  td.fav {
padding: 0;
}

table, table td, table th {

  border-collapse: collapse;
  text-align: center;
}
table tr:hover {
  background-color: #f5f5f51f;
}

tr:nth-child(odd) {
  background-color: rgba(0, 204, 255, 0.05);
}

#loadingTop, #loadingBot {
    transition: transform 0.5s ease-in-out;
    width:  100vw;
    height: 50vh;
    text-align: center;
    z-index: 10000;
    position: fixed;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  #loadingTop {
    background-color: #333333;
    top: 0;
    transform: translateX(100vw);
    align-items: flex-end;
  }
  
  #loadingTop h2 {
    margin: 0;
  }
  
  #loadingBot {
    background-color: #444444;
    bottom: 0;
    transform: translateX(-100vw);
    align-items: flex-start;
  }
  
  #loadingTop.load, #loadingBot.load {
    transform: translateX(0);
  }
  
  #loadingBot.unload {
    transform: translateX(100vw);
  }
  #loadingTop.unload {
    transform: translateX(-100vw);
  }
  
  #loadingTop h2 {
    position: relative;
    bottom: 0;
  }

  .reset {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  .hidden {
    display: none !important;
  }