body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {

}
header {
  background: rgb(15,30,66);
  background: linear-gradient(90deg, rgba(15,30,66,1) 0%, rgba(242,100,48,1) 100%);
}
main {
    flex: 1 1 auto;
    background: rgb(12, 18, 34);
    color: rgb(221, 221, 221);
}
div#tabs {
  background: rgb(25, 38, 73);
  color: rgb(221, 221, 221);
}
div#tabs > ul {
    display: flex;
    flex-direction: row;
}
div#tabs li {
    padding: 0.5em;
    cursor: pointer;
}
div#tabs li.active {
  background-color: rgba(242, 100, 48, 0.50);
}
div#tabs li:hover {
    background-color: rgb(242,100,48);
}

h2, h3 {
  margin: 0;
}

#loadingTop, #loadingBot {
    transition: transform 0.5s ease-in-out;
    width:  100vw;
    height: 50vh;
    text-align: center;
    z-index: 10000;
    position: fixed;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  #loadingTop {
    background-color: #333333;
    top: 0;
    transform: translateX(100vw);
    align-items: flex-end;
  }
  
  #loadingTop h2 {
    margin: 0;
  }
  
  #loadingBot {
    background-color: #444444;
    bottom: 0;
    transform: translateX(-100vw);
    align-items: flex-start;
  }
  
  #loadingTop.load, #loadingBot.load {
    transform: translateX(0);
  }
  
  #loadingBot.unload {
    transform: translateX(100vw);
  }
  #loadingTop.unload {
    transform: translateX(-100vw);
  }
  
  #loadingTop h2 {
    position: relative;
    bottom: 0;
  }

  .reset {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  .hidden {
    display: none !important;
  }